.dash {
  grid-template-columns: 70rem 30rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  transform: scale(1.1);
}

.column1 {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
  background-color: rgb(147, 172, 234);
  box-shadow: 0 5px 25px rgba(224, 114, 114, 0.5);
  transition: 0.7s;

}

.row1 {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin: 10px 0;
}

.row {
  background-color: rgb(11, 8, 8);
  padding: 10px;

}

.column2 {
  background-color: rgb(177, 200, 205);


}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  margin-top: 10px;
}

.grid-item {
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
  /* position: relative; */
  max-width: 220px;
}

.dash-card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  transition: all 0.2s ease-in-out;
}

.grid-item:hover .dash-card {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}